body {
    margin: 0;
}

header {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

img#logo {
    width: 8rem;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    color: black;
    font-weight: 500;
}

ul.menu-principal {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main {
    background-color: #b4c2dd;
    color: white;
}


.banner {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 28vw;
    width: 100%;
    /* height= 25vw significa que la altura corresponde al 25% del ancho 
    del viewport que agregamos en HTMl dento de meta del header */
    display: flex;
    justify-content:flex-end;


    /* Si no agregas el display: flex; el sistema no leerá justify-content: flex-end */
    align-items:center;

}

.banner-title {
    font-size: 2.5rem;
    margin-right: 3rem;
    text-align: right;
    text-transform: uppercase;
    width: 25%;
}

ul.sections {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap:4rem;
}

li.section-items {
    background: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 5rem;
    height: 5rem;
}

a.text-anchor {
    font-size: 0.55rem;
    padding: 0,8rem;
    margin: 0;
    padding: 1.2rem 0.8rem;
    text-transform: uppercase;
}

section.obras {
    padding: 2.2rem 0;
}

footer {
    background-color: pink;
}
